#footer {
  font-size: 0.4em;
  display: flex;
  position: relative;
  bottom: 0;
  background-color: var(--bg);
  padding: 0.25em;
  margin-top: 10px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-right: 0 1em;
}
