#footer {
  font-size: 0.4em;
  display: flex;
  position: relative;
  bottom: 0;
  background-color: var(--bg);
  box-sizing: border-box;
  padding: 0.5em;
  margin-top: 10px;
  height: 70px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.footer-image {
  height: 4em;
  width: 4em;
}
