:root {
  --bg-dark: hsl(0 0 80);
  --bg: hsl(0 0 90);
  --bg-light: hsl(0 0 100);
  --text: hsl(0 0 5);
  --text-muted: hsl(0 0 30);
  --border: hsl(0 0 70);
  --primary-color: hsl(205 220 80);
  --primary-color-active: hsl(195 220 82);
  --error-color: hsl(0 200 80);
  --pass-color: hsl(120 200 80);
  --invert-value: 0;
}

body.dark {
  --bg-dark: hsl(0 0 1);
  --bg: hsl(0 0 20);
  --bg-light: hsl(0 0 30);
  --text: hsl(0 0 95);
  --text-muted: hsl(0 0 70);
  --border: hsl(0 0 40);
  --primary-color: hsl(215 200 70);
  --primary-color-active: hsl(210 250 75);
  --error-color: hsl(0 250 80);
  --pass-color: hsl(120 250 80);
  --invert-value: 1;
}

body {
  padding: 0;
  margin: 0;
  font-family: "arial";
  font-size: 1.5rem;
  background-color: var(--bg-dark);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .button is for elements that cannot be button elements */
input,
textarea,
select,
button,
.button {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  padding: 4px;
  border-radius: 0.25em;
  font-size: 0.6em;
}

textarea:not(.disabled):not([disabled]):hover,
select:not(.disabled):not([disabled]):hover,
button:not(.disabled):not([disabled]):hover,
.button:not(.disabled):not([disabled]):hover {
  background-color: var(--bg-light);
  color: var(--text);
  cursor: pointer;
}

input:hover {
  background-color: var(--bg-light);
  color: var(--text);
  cursor: text;
}

.disabled,
[disabled] {
  color: var(--text-muted);
  background-color: var(--bg-dark);
}

.disabled:hover,
[disabled]:hover {
  cursor: not-allowed;
}

input::placeholder {
  color: var(--text-muted);
}

textarea {
  resize: vertical;
}

svg {
  stroke-linecap: round;
  fill: none;
  stroke: var(--text);
  stroke-width: 10px;
}

.svg-img {
  filter: invert(var(--invert-value));
}

.error-message {
  border-radius: 0.25em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--error-color);
  padding: 1%;
  font-size: 0.8em;
  z-index: 20;
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.8% 3% 2.2% 3%;
  border: 1px solid var(--border);
  border-radius: 0.25em;
  z-index: 1;
  background-color: var(--bg);
}

.pop-up-title {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--border);
  font-size: 1em;
  text-align: center;
}

.pop-up-input {
  margin: 0.1em 0;
}

.pop-up-submit {
  margin-top: 0.25px;
}

.pop-up-text {
  font-size: 0.8em;
}

.pop-up-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  width: 100vw;
  top: 0;
}

/* Page menu */
#page-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-menu-button,
.page-menu-input {
  padding: 2px;
  border-radius: 50%;
  margin: 2px;
  aspect-ratio: 1 / 1;
  width: 25px;
}

.page-menu-input {
  padding-inline: 0;
  padding-block: 0;
  text-align: center;
}

/* TODO replace variables */
.selected-page {
  background-color: var(--saturated-blue);
}
.selected-page:hover {
  background-color: var(--saturated-blue);
}

/* Progress bad */
#progress-bar {
  position: fixed;
  height: 2px;
  width: 0%;
  background-color: var(--primary-color);
  z-index: 10;
}

/* Special buttons */
.action-button:not(.disabled):not([disabled]) {
  background-color: var(--primary-color) !important;
}

.action-button:not(.disabled):not([disabled]):hover {
  background-color: var(--primary-color-active) !important;
}

.send-button {
  font-size: 0 !important;
}

.svg-send-button {
  width: 48px;
  height: 28px;
}
