:root {
  --bg-dark: hsl(0 0 80);
  --bg: hsl(0 0 92);
  --bg-light: hsl(0 0 100);
  --text: hsl(0 0 5);
  --text-muted: hsl(0 0 30);
  --border: hsl(0 0 70);
  --primary-color: hsl(212 220 84);
  --primary-color-hover: hsl(205 220 86);
  --error-color: hsl(0 200 80);
  --error-color-hover: hsl(0 180 82);
  --pass-color: hsl(120 200 80);
  --invert-value: 0;
}

body.dark {
  --bg-dark: hsl(0 0 10);
  --bg: hsl(0 0 16);
  --bg-light: hsl(0 0 26);
  --text: hsl(0 0 95);
  --text-muted: hsl(0 0 70);
  --border: hsl(0 0 40);
  --primary-color: hsl(215 200 70);
  --primary-color-hover: hsl(210 250 75);
  --error-color: hsl(0 250 80);
  --error-color-hover: hsl(0 220 82);
  --pass-color: hsl(90 360 18);
  --invert-value: 1;
}

body {
  padding: 0;
  margin: 0;
  font-family: "arial";
  font-size: 1.5rem;
  background-color: var(--bg-dark);
  color: var(--text);
}

/* For a responsive design */
@media screen and (max-width: 680px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 12px;
  }
}

#super-global {
  height: calc(100vh - 2em); /* 2em for menu bar */
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 0.5em;
}

#global {
  margin: 0 0.5em;
  min-height: calc(100% - 81px); /* 85 pixels for the footer */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* .button is for elements that cannot be button elements */
input,
textarea,
select,
button,
.button {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 0.6em;
}

button,
.button {
  text-align: center;
}

textarea:not(.disabled):not([disabled]):hover,
select:not(.disabled):not([disabled]):hover,
button:not(.disabled):not([disabled]):hover,
.button:not(.disabled):not([disabled]):hover {
  background-color: var(--bg-light);
  color: var(--text);
  cursor: pointer;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  background-color: var(--bg-light);
  color: var(--text);
  cursor: text;
}

.disabled,
[disabled] {
  color: var(--text-muted);
  background-color: var(--bg-dark);
}

.disabled:hover,
[disabled]:hover {
  cursor: not-allowed;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-muted);
}

textarea {
  padding: 0.5em;
  font-family: "Arial";
  resize: vertical;
  max-height: 20em;
  min-height: 2em;
}

svg {
  stroke-linecap: round;
  fill: none;
  stroke: var(--text);
  stroke-width: 10px;
}

.svg-img {
  filter: invert(var(--invert-value));
}

/* pop-up container */
#pop-up-message-container {
  z-index: 20;
  position: fixed;
  top: 60px;
  right: 0;
  max-height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: end;
}

@keyframes pop-up-message-animation {
  0% {
    padding: 0.5em;
    border: 1px solid var(--border);
    margin-top: 0.5em;
    margin-right: -1px; /* Taking border into account */
    transform: translateX(100%);
  }
  5% {
    margin-right: 0.5em;
    transform: translateX(0%);
  }
  85% {
    margin-right: 0.5em;
    transform: translateX(0%);
  }
  90% {
    margin-right: -1px;
    transform: translateX(100%);
    margin-top: 0.5em;
    height: auto;
    padding: 0.5em;
    border: 1px solid var(--border);
  }
  95% {
    transform: translateX(100%);
    margin-top: 0;
    height: 0;
    padding: 0;
    border: none;
  }
  100% {
    transform: translateX(100%);
    margin-top: 0;
    height: 0;
    padding: 0;
    border: none;
  }
  /* Leaving time for JavaScript to remove the element*/
}

.pop-up-message {
  /* All changing styles are in pop-up-animation */
  font-size: 0.6em;
  width: 10em;
  overflow: hidden;
  flex-shrink: 0; /* Prevents pop-ups from becoming squashed */
  border-radius: 0.5em;
  user-select: none;
  animation: 6s pop-up-message-animation forwards;
}

/* pop-up-message colors */

.pop-up-message.pass {
  background-color: var(--pass-color);
}

.pop-up-message.fail {
  background-color: var(--error-color);
}

/* Pop-up (login, sign-up, etc.)*/

.pop-up-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.8% 3% 2.2% 3%;
  border: 1px solid var(--border);
  border-radius: 0.25em;
  z-index: 1;
  background-color: var(--bg);
}

.pop-up-title {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--border);
  font-size: 1em;
  text-align: center;
}

.pop-up-body {
  display: flex;
  flex-direction: column;
}

.pop-up-input {
  margin: 0.1em 0;
}

.pop-up-submit {
  margin-top: 0.25px;
}

.pop-up-text {
  font-size: 0.8em;
}

.pop-up-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; /* Should appear above EVERYTHING */
  position: fixed;
  width: 100vw;
  top: 0;
}

/* Page menu */
#page-menu {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-menu-button,
.page-menu-input {
  padding: 0.25em;
  border-radius: 2.5em;
  margin: 0.25em;
  min-width: 2em;
  height: 2em;
}

.page-menu-input {
  padding-inline: 0;
  padding-block: 0;
  text-align: center;
}

/* Progress bar */
#progress-bar {
  position: fixed;
  height: 2px;
  width: 0%;
  background-color: var(--primary-color);
  z-index: 10;
}

/* Special buttons */
.action-button:not(.disabled):not([disabled]) {
  background-color: var(--primary-color) !important;
}

.action-button:not(.disabled):not([disabled]):hover {
  background-color: var(--primary-color-hover) !important;
}

.danger-button:not(.disabled) {
  background-color: var(--error-color) !important;
}

.danger-button:not(.disabled):hover {
  background-color: var(--error-color-hover) !important;
}

.send-button {
  width: 3em;
  height: 2em;
}

.svg-send-button {
  height: 100%;
}

/* Scroll bar */
#super-global {
  scrollbar-color: var(--bg) var(--bg-dark);
}
