.content blockquote {
  color: var(--text-muted);
  margin: 0.5em 0.5em 0.5em 0;
  border-left: 0.25em solid var(--text-muted);
  padding-left: 0.5em;
}

.content p {
  margin: 0;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  margin: 0.25em 0;
}

.content code {
  background-color: var(--bg-dark);
  padding: 0.1em;
  border-radius: 0.1em;
}

.content a {
  color: revert; /* undo main.css anchor color */
}
