.menu {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  border-bottom: 1px var(--border) solid;
  align-items: stretch;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 10;
}

.menu-button {
  padding: 10px;
  display: flex;
}

.menu-button.border-bottom {
  border-bottom: 1px solid var(--border);
}

.menu-button:hover:not(
    :has(.new-notifications-indicator:hover, #profile-options:hover)
  ) {
  text-decoration: none;
  background-color: var(--bg-light);
  cursor: pointer;
}

.split-right {
  margin-left: auto;
}

.menu-right {
  border-left: 1px var(--border) solid;
}

.menu-left {
  border-right: 1px var(--border) solid;
}

#menu-buffer {
  height: 51px; /* Menu height + border */
}

.menu-user-info {
  display: flex;
  flex-direction: row;
}

.profile-menu {
  display: flex;
  flex-direction: column;
}

.icon {
  padding: 6px 12px;
  height: calc(100% - 12px);
  aspect-ratio: 1 / 1;
}

#profile-options-wrapper {
  display: none; /*flex*/
  flex-direction: row-reverse;
}

#profile-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--bg);
  margin-right: -11px; /* 10px padding + 1px border */
  margin-top: 10px;
  border: 1px solid var(--border);
  box-shadow: var(--bg-dark) -2px 2px 5px;
}

#menu-path {
  font-size: 0.8em;
  background-color: var(--bg);
  padding: 0.25em;
  border: 1px solid var(--border);
}

.new-notifications-indicator {
  background-color: var(--primary-color);
  font-size: 0.5em;
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--border);
  padding: 2px;
  position: relative;
  margin-bottom: -10px; /* Ensures menu bar height is not effected*/
  margin-left: 10px;
  top: -1px;
  color: var(--text);
}

.new-notifications-indicator:hover {
  background-color: var(--primary-color-hover);
  text-decoration: none;
}

.new-notifications-indicator.none {
  display: none !important;
}
