.menu {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  border-bottom: 1px var(--border) solid;
  align-items: end;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.menu-button,
.menu-path {
  padding: 10px;
  display: inline-block;
}

.menu-button:hover:not(.new-notifications-indicator, #profile-options) {
  text-decoration: none;
  background-color: var(--bg-light);
  cursor: pointer;
}

.split-right {
  margin-left: auto;
}

.menu-right {
  border-left: 1px var(--border) solid;
}

.menu-left {
  border-right: 1px var(--border) solid;
}

#menu-buffer {
  height: 60px;
}

.menu-user-info {
  display: flex;
  flex-direction: row;
}

.profile-menu {
  display: flex;
  flex-direction: column;
}

#profile-options-wrapper {
  display: none; /*flex*/
  flex-direction: row-reverse;
}

#profile-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--bg);
  margin-right: -11px; /* 10px padding + 1px border */
  margin-top: 10px;
  border: 1px solid var(--border);
}

#menu-path {
  margin-left: 10px;
  font-size: 0.8em;
  background-color: var(--bg);
  padding: 4px;
  border: 1px solid var(--border);
}

.new-notifications-indicator {
  background-color: var(--primary-color);
  font-size: 0.5em;
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--border);
  padding: 2px;
  position: relative;
  margin-left: 5px;
  margin-right: -5px;
  top: -2px;
  color: var(--text);
  text-decoration: none;
}

.new-notifications-indicator:hover {
  background-color: var(--primary-color-active);
}

.notifications.none {
  display: none !important;
}
