.menu {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  border-bottom: 1px var(--border) solid;
  align-items: stretch;
  position: fixed;
  height: calc(2em - 1px); /* Menu height - border */
  width: 100%;
  top: 0;
  z-index: 10;
}

.menu-button {
  padding: 0.5em;
  align-self: center;
  display: flex;
  height: 1em; /* Ensures height is computed correctly */
}

.menu-button.border-bottom {
  border-bottom: 1px solid var(--border);
}

.menu-button:hover:not(
    :has(.new-notifications-indicator:hover, #profile-options:hover)
  ) {
  text-decoration: none;
  background-color: var(--bg-light);
  cursor: pointer;
}

.split-right {
  margin-left: auto;
}

.menu-right {
  border-left: 1px var(--border) solid;
}

.menu-left {
  border-right: 1px var(--border) solid;
}

#menu-buffer {
  height: 2em;
}

.menu-user-info {
  display: flex;
  flex-direction: row;
}

.profile-menu {
  display: flex;
  flex-direction: column;
}

.menu-button.icon {
  height: 100%;
  padding: 0.25em 0.5em;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

#profile-options-wrapper {
  display: none; /*flex*/
  flex-direction: row-reverse;
}

#profile-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--bg);
  margin-right: calc(-0.5em - 1px); /* 0.5em padding + 1px border */
  margin-top: calc(0.25em + 1px);
  border: 1px solid var(--border);
  box-shadow: var(--bg-dark) -2px 2px 5px;
}

#profile-options > a {
  align-self: stretch; /* Ensures all profile menu buttons have the same width */
}

#menu-path-wrapper {
  display: flex; /* Especially important for /thread/, not so much for /topic/ */
  justify-content: space-between;
  font-size: 0.8em;
}

#menu-path {
  font-size: 0.8em;
  padding: 0.25em;
  border-bottom: 1px solid var(--border);
  flex: 1;
}

#menu-path > a:hover {
  text-decoration: none;
  color: var(--text);
}

.menu-path-arrow {
  margin: 0 1em;
  cursor: default;
}

.new-notifications-indicator {
  background-color: var(--primary-color);
  font-size: 0.5em;
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--border);
  padding: 0.1em;
  position: relative;
  margin-bottom: -0.5em; /* Ensures menu bar height is not effected*/
  margin-left: 0.5em;
  top: -1px;
  color: var(--text);
}

.new-notifications-indicator:hover {
  background-color: var(--primary-color-hover);
  text-decoration: none;
}

.new-notifications-indicator.none {
  display: none !important;
}
