.menu {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-bottom: 1px black solid;
  align-items: end;
}

.menu-button {
  padding: 10px;
  border-left: 1px black solid;
}

.menu-button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.login {
  margin-left: auto;
}
