.post {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px var(--border) solid;
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
}

.user-details {
  width: 16%;
  border-right: 1px solid var(--border);
  overflow-wrap: break-word;
  font-size: 0.8em;
}

.profile-picture {
  width: 80%;
  border-radius: 1em;
}

.username {
  font-weight: 800;
  display: block;
}

.post-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.content {
  font-size: 0.7em;
  padding: 0.5em;
}

.created {
  font-size: 0.4em;
  color: var(--text-muted);
}

.edited {
  font-size: 0.4em;
  color: var(--text-muted);
}

.editTxt {
  width: 100%;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
  margin-left: 20px;
}

#subscribe {
  position: absolute;
  right: 5px;
}

.editTxt {
  width: 710px;
  height: 80%;
}
