.post {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px var(--border) solid;
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
}

.user-details {
  width: 5em;
  border-right: 1px solid var(--border);
  padding-right: 0.5em;
}

.profile-picture {
  width: 100%;
  border-radius: 0.5em;
}

.username {
  font-weight: 600;
  display: block;
  font-size: 0.7em;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.25em;
}

/* POST CONTENT */

.post-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.post-buttons {
  align-self: end;
}

.content {
  font-size: 0.7em;
  padding: 0.5em;
  flex: 1;
  width: calc(100% - 2em); /* 2 em for extra buttons */
}

.created,
.edited {
  font-size: 0.4em;
  color: var(--text-muted);
  align-self: end;
}

.editTxt {
  width: 100%;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
}

#subscribe {
  float: right;
}

.editTxt {
  width: 710px;
  height: 80%;
}
