.post {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px var(--border) solid;
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  box-shadow: var(--text-muted) 0 1px 3px -1px;
}

.user-details {
  width: 5em;
  border-right: 1px solid var(--border);
  padding-right: 0.5em;
}

.profile-picture {
  width: 100%;
  border-radius: 0.5em;
}

.username {
  font-weight: 600;
  display: block;
  font-size: 0.7em;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.25em;
}

/* POST CONTENT */

.post-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.post-options {
  height: 1em;
  width: 2em;
  font-size: 0.7em; /* Same font size as content */
  align-self: end;
}

.options-reveal-button {
  color: var(--text-muted);
  user-select: none;
  display: flex;
  justify-content: center;
}

.options-reveal-button:hover {
  cursor: pointer;
}

.option-buttons {
  display: none; /* Toggles to flex */
  flex-direction: column;
  margin-top: 0.5em;
  row-gap: 0.25em;
}

.option-buttons > button {
  width: 2em;
  height: 2em;
  font-size: 1em; /* Cancel out normal font size */
}

.content {
  font-size: 0.7em;
  padding: 0 1em;
  flex: 1;
  width: calc(100% - 2em); /* 2em for option buttons */
  box-sizing: border-box;
  margin-top: -1em;
}

.edit-wrapper {
  margin: -1em 0.25em 0 0.25em;
  width: calc(100% - 2.5em); /* 2.5em for option buttons + some extra space */
  flex: 1;
  font-size: 0.7em;
  padding: 0.5em 0.25em;
  box-sizing: border-box;
}

.editTxt {
  font-size: 1em; /* Font size is already 0.7em due to parent */
  width: 100%;
  height: calc(100% - 2em); /* 100% minus button height */
  box-sizing: border-box;
  min-height: 7em;
}

.edit-wrapper > button {
  height: 2em;
  width: 2em;
  font-size: 1em;
  margin-right: 0.5em;
}

.created,
.edited {
  font-size: 0.4em;
  color: var(--text-muted);
  align-self: end;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
}

#subscribed,
#unsubscribed {
  float: right;
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -1em; /* Prevents affecting border-bottom */
  font-size: 1em;
  padding: 0.1em;
  margin-left: 1em;
}
