#preview {
  width: 20%;
}

.button-container {
  display: none;
}

.button {
  padding: 1%;
  margin: 1%;
}

#moderation-history,
#report-history {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  height: 300px;
  overflow-y: scroll;
  background-color: var(--bg);
}

#moderation-history > div,
#report-history > div,
#moderation-header,
#report-header {
  border-bottom: 1px solid var(--border);
  padding-bottom: 2px;
  margin-bottom: 2px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 5% 35% 15% 10% 20% auto;
}

.datetime-history,
.deleted-datetime,
.deleted-created,
.session-datetime {
  font-size: 0.5em;
}

.deleted-posts {
  background-color: var(--bg);
}

.deleted-post {
  border-bottom: 1px solid var(--border);
  padding-bottom: 2px;
  margin-bottom: 2px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 10% 10% 30% 40% 10%;
}

.creator-username,
.sender-username {
  font-weight: 600;
}

.read {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

#pfp {
  display: none;
}

#notifications-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.notification-item {
  background-color: var(--bg);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.notification-count {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 10px;
  font-size: 0.8em;
  position: absolute;
  margin-top: -25px;
  margin-left: -20px;
}

.notification-datetime {
  font-size: 0.5em;
  color: var(--text-muted);
  align-self: end;
}

.notification-title {
  font-size: 1.2em;
}

.notification-initiators {
  font-size: 0.8em;
}

.sessions {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  max-height: 300px;
  overflow-y: scroll;
  background-color: var(--bg);
}

.session-item {
  border-bottom: 1px solid var(--border);
  padding-bottom: 2px;
  margin-bottom: 2px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 60% 15% 15% 5%;
}

/* Moderation */
.history-summary {
  cursor: pointer;
}

.delete-session.disabled {
  background-color: var(--bg-dark);
}
