#tab-menu-bar {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-tab {
  flex: 1 1 0;
  margin: 0 3px;
  display: inline-block;
  text-align: center;
  background-color: var(--bg-dark);
  padding: 5px 0;
  border-radius: 2px;
}

.menu-tab.selected {
  background-color: var(--bg);
  border: 1px solid var(--bg);
}

.menu-tab:not(.selected) {
  border: 1px solid var(--border);
}

.menu-tab:not(.selected):hover {
  background-color: var(--bg-light);
  cursor: pointer;
}
