.thread-wrapper {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px var(--border) solid;
  background-color: var(--bg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* For smaller screens */
@media screen and (max-width: calc(500px + 17em)) {
  .misc {
    display: none !important;
  }
}

@media screen and (max-width: calc(500px + 8em)) {
  .last-wrapper {
    display: none !important;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  max-width: 500px;
}

.thread-name {
  font-weight: 800;
  display: block;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.thread-info {
  margin-left: 0.5em;
}

.thread-creator {
  font-size: 0.9em;
}

.created {
  color: var(--text-muted);
  font-size: 0.5em;
  margin-left: 2em;
  vertical-align: middle;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.last-wrapper {
  display: flex;
  flex-direction: column;
  width: 6em;
  margin: 0 1em;
}

.last-user {
  font-size: 0.8em;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.25em;
}

.last-post {
  font-size: 0.5em;
  color: var(--text-muted);
}

.misc {
  display: flex;
  align-items: center;
}

.count {
  font-size: 0.8em;
  text-align: center;
  width: 4em;
  margin-left: 1.5em;
}

.delete-button {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-right: 0.5em;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
  display: block;
}

#thread-name,
#post-content {
  margin-bottom: 1em;
}
