.thread-wrapper {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px var(--border) solid;
  background-color: var(--bg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 2.6em; /* Height */
  row-gap: 5em; /* Pushes all wrapped elements further down */
  overflow: hidden; /* Will hide any elements that wrap */
  box-shadow: var(--text-muted) 0 1px 3px -1px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 20em;
  overflow: hidden;
}

.pinned {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.thread-name {
  font-weight: 800;
  display: block;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.thread-info {
  margin-left: 0.5em;
}

.thread-creator {
  font-size: 0.9em;
}

.created {
  color: var(--text-muted);
  font-size: 0.5em;
  margin-left: 2em;
  vertical-align: middle;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.last-wrapper {
  display: flex;
  flex-direction: column;
  width: 6em;
  margin: 0 1em;
}

.last-user {
  font-size: 0.8em;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.25em;
}

.last-post {
  font-size: 0.5em;
  color: var(--text-muted);
}

.misc {
  display: flex;
  align-items: center;
  width: 7em;
}

.count {
  font-size: 0.8em;
  text-align: center;
  width: 4em;
  margin-left: 1.5em;
}

.delete-button,
.pin-button {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-right: 0.5em;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
  display: block;
}

#thread-name,
#post-content {
  margin-bottom: 1em;
}

/* Post Formatting */
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0.25em 0;
}
