.thread {
  margin: 1%;
  padding: 1%;
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
}

.thread-name {
  font-weight: 800;
  display: block;
}

.created {
  font-size: 0.4em;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.last-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 4vw;
}

.last-post {
  font-size: 0.5em;
}

.last-user {
  font-size: 0.8em;
}

.count {
  font-size: 1.2em;
  border: 1px #eee solid;
  aspect-ratio: 1 / 1;
  align-content: center;
  text-align: center;
  margin: 0 4vw;
}
