.thread-wrapper {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px var(--border) solid;
  display: grid;
  grid-template-columns: 60% 20% 10% 8%;
  background-color: var(--bg);
}

.thread-name {
  font-weight: 800;
  display: block;
}

.created {
  color: var(--text-muted);
  font-size: 0.4em;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.last-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 4vw;
}

.last-post {
  font-size: 0.5em;
  color: var(--text-muted);
}

.last-user {
  font-size: 0.8em;
}

.count {
  width: min-content;
  font-size: 1.2em;
  border: 1px var(--border) solid;
  aspect-ratio: 1 / 1;
  align-content: center;
  text-align: center;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
  display: block;
}

#thread-name,
#post-content {
  margin-left: 20px;
  margin-bottom: 10px;
}
