.thread-wrapper {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px var(--border) solid;
  background-color: var(--bg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.thread-name {
  font-weight: 800;
  display: block;
}

.thread-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.created {
  color: var(--text-muted);
  font-size: 0.4em;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.last-wrapper {
  display: flex;
  flex-direction: column;
  width: 5em;
  margin-right: auto;
  margin-left: 1em;
}

.last-post {
  font-size: 0.5em;
  color: var(--text-muted);
}

.last-user {
  font-size: 0.8em;
}

.count {
  font-size: 0.8em;
  text-align: center;
  width: 4em;
  margin-left: 1.5em;
}

.delete-button {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-right: 0.5em;
}

#post-content {
  min-width: 70vw;
  min-height: 20vh;
  display: block;
}

#thread-name,
#post-content {
  margin-bottom: 1em;
}
