.category {
  margin: 1%;
  padding: 1%;
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 800;
  display: block;
}

.count {
  font-size: 1.2em;
  border: 1px #eee solid;
  aspect-ratio: 1 / 1;
  align-content: center;
  text-align: center;
  margin: 0 10%;
}

.count-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
