.container > a:hover {
  text-decoration: none;
}

.category {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px var(--border) solid;
  display: flex;
  background-color: var(--bg);
  align-items: center;
  box-shadow: var(--text-muted) 0 1px 3px -1px;
}

.category:hover {
  background-color: var(--bg-light);
}

.title-wrapper {
  flex: 1;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.name {
  font-weight: 800;
  display: block;
}

.description {
  color: var(--text-muted);
}

.count {
  border: 1px var(--border) solid;
  aspect-ratio: 1 / 1;
  align-content: center;
  text-align: center;
  margin: 0 1em;
  height: 2em;
  width: 2em;
}
