.container > a:hover {
  text-decoration: none;
}

.category {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px var(--border) solid;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
}

.category:hover {
  background-color: var(--bg-light);
}

.name {
  font-weight: 800;
  display: block;
}

.description {
  color: var(--text-muted);
}

.count {
  font-size: 1.2em;
  border: 1px var(--border) solid;
  aspect-ratio: 1 / 1;
  align-content: center;
  text-align: center;
  margin: 0 4vw;
}

.count-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
