#global {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: calc(100vh - 120px);
}

#user-info {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid var(--border);
  text-align: center;
  background-color: var(--bg);
  box-sizing: border-box; /* Makes sure padding does not affect height or width */
  align-items: center;
}

.user-image {
  width: 100%;
  border-radius: 50%;
  max-width: 10em;
}

.username {
  font-weight: 800;
}

.handle {
  font-style: italic;
  font-size: 0.8em;
}

.joined {
  font-size: 0.6em;
}

.auth {
  display: flex;
  font-size: 0.8em;
}

.auth-star {
  height: 1.2em;
}

.auth-star.filled {
  fill: var(--primary-color);
}

.auth-star:not(.filled) {
  fill: var(--bg-dark);
}

.user-stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 1em;
}

.user-stats > span {
  margin: 0 1em;
}

#history {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-color: var(--bg);
  box-sizing: border-box; /* Makes sure padding does not affect height or width */
}

.history-block {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.history-item {
  border: 1px solid var(--border);
  border-radius: 2px;
  font-size: 0.8em;
  margin: 5px 0;
  padding: 8px;
  margin-right: 5px; /* Leaving a gap for the scroll-bar */
  display: flex;
  flex-direction: column;
}

.datetime {
  font-size: 0.5em;
  text-align: right;
  color: var(--text-muted);
  margin-bottom: -0.5em;
}

.history-item.post > .thread,
.history-item.thread > .topic {
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.history-item.post > .content,
.history-item.thread > .thread {
  padding: 10px;
  font-size: 0.8em;
}
