#global {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

#user-info {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  border: 1px solid black;
  text-align: center;
}

.user-image {
  max-width: 20vw;
  border-radius: 50%;
}

.username {
  font-weight: 800;
}

.handle {
  font-style: italic;
  font-size: 0.8em;
}

#history {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.history-block {
  width: 70vw;
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.history-item {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.history-item > span {
  width: 30%;
  font-size: 0.8em;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.datetime {
  font-size: 0.5em;
}
