#global {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

#user-info {
  display: flex;
  flex-direction: column;
}

.user-image {
  max-width: 20vw;
  border-radius: 50%;
}

.username {
  font-weight: 800;
}

.handle {
  font-style: italic;
}

#history {
  display: flex;
  flex-direction: column;
}

.history-block {
  max-width: 35vh;
  display: flex;
  flex-direction: column;
}
