#global {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: calc(100vh - 120px);
}

#user-info {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: 1px solid var(--border);
  text-align: center;
  background-color: var(--bg);
}

.user-image {
  width: 100%;
  border-radius: 50%;
}

.username {
  font-weight: 800;
}

.handle {
  font-style: italic;
  font-size: 0.8em;
}

#history {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: var(--bg);
}

#history-menu {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.history-block {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--border);
  padding: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Makes sure padding does not affect height or width */
}

.history-menu-tab {
  width: calc(50% - 10px);
  display: inline-block;
  text-align: center;
  background-color: var(--bg-dark);
  padding: 5px 0;
  border-radius: 2px;
}

.history-menu-tab.selected {
  background-color: var(--bg);
}

.history-menu-tab:not(.selected):hover {
  background-color: var(--bg-light);
  cursor: pointer;
}

.history-item {
  border-bottom: 1px solid var(--border);
  font-size: 0.8em;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.history-item > span {
  width: 30%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.datetime {
  font-size: 0.5rem;
}
