#global {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

#user-info {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  border: 1px solid var(--border);
  text-align: center;
  background-color: var(--bg);
}

.user-image {
  max-width: 20vw;
  border-radius: 50%;
}

.username {
  font-weight: 800;
}

.handle {
  font-style: italic;
  font-size: 0.8em;
}

#history {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: var(--bg);
}

#history-menu {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border);
}

.history-block {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--border);
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.history-menu-tab {
  width: calc(50% - 5px);
  display: inline-block;
  text-align: center;
}

.history-menu-tab {
  width: calc(50% - 5px);
  display: inline-block;
  text-align: center;
}

.history-menu-tab:hover {
  background-color: var(--bg-light);
  cursor: pointer;
}

.history-item {
  border-bottom: 1px solid var(--border);
  font-size: 0.8em;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.history-item > span {
  width: 30%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.datetime {
  font-size: 0.5rem;
}
