php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone UTC

DirectoryIndex index.php index.html index.htm index2.html

# In practice may be better to whitelist, but I like the simplicity and automatization of this one

RedirectMatch 404 /\..
RedirectMatch 404 /functions/.

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

RewriteEngine On

# http -> https

RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.\*) https://%{HTTP_HOST}/$1 [R=301,L]

# profile

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^profile/(settings|moderation|notifications) /profile/$1.php [L]

RewriteRule ^profile/$ /profile/settings.php [L]

# / -> ?
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z\_]+)/([a-zA-Z0-9-_!?().,]+)$ $1.php?s=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z0-9-_!?().,]+)/([0-9]+)$ $1.php?s=$2&p=$3 [L]