#global {
  background-color: var(--bg);
  box-sizing: border-box;
  padding: 0.5em;
}

#mod-filter,
#report-filer {
  border-bottom: 1px solid var(--border);
  margin-bottom: 0.5em;
  padding: 0.5em 0;
}

#moderation-history,
#report-history {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

.no-results {
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
}

#moderation-history > div,
#report-history > div,
#moderation-header,
#report-header {
  border-bottom: 1px solid var(--border);
  padding: 0.25em 0;
  margin: 0.25em 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 5% 35% 15% 10% 20% auto;
}

.datetime-history,
.deleted-datetime,
.deleted-created {
  font-size: 0.5em;
}

.session-datetime {
  font-size: 0.8em;
}

#deleted-posts {
  background-color: var(--bg);
}

.deleted-post {
  border-bottom: 1px solid var(--border);
  padding: 0.25em 0;
  margin: 0.25em 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 10% 10% 30% 40% 10%;
}

.creator-username,
.sender-username {
  font-weight: 600;
}

.read {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

#sessions {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  background-color: var(--bg);
  height: 100%;
  overflow-x: hidden;
}

.session-item {
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.session-item > span,
.session-item > button {
  flex: 1;
}

.session-item > .user-agent > svg {
  width: 2em;
}

/* Moderation */
.history-summary {
  cursor: pointer;
}

.delete-session.disabled {
  background-color: var(--bg-dark);
}
