#global {
  background-color: var(--bg);
  box-sizing: border-box;
  padding: 0.5em;
}

#mod-filter,
#report-filter {
  border-bottom: 1px solid var(--border);
  margin-bottom: 0.5em;
  padding: 0.5em 0;
}

#moderation-history,
#report-history {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

.no-results {
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
  display: block;
}

#moderation-history > div,
#report-history > div,
#moderation-header,
#report-header {
  border-bottom: 1px solid var(--border);
  padding: 0.25em 0;
  margin: 0.25em 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 5% 35% 15% 10% 20% auto;
}

.datetime-history,
.deleted-datetime,
.deleted-created {
  font-size: 0.5em;
}

.deleted-created {
  align-self: end;
}

.session-datetime {
  font-size: 0.8em;
}

#deleted-posts {
  background-color: var(--bg);
}

.deleted-post {
  border-bottom: 1px solid var(--border);
  padding: 0.25em 0;
  margin: 0.25em 0;
  display: flex;
}

.deleted-post-data,
.deleted-post-mod {
  display: flex;
  flex-direction: column;
}

.deleted-post-data {
  flex: 1;
}

.deleted-post-mod {
  border-left: 1px solid var(--border);
  margin-left: 1em;
  padding-left: 1em;
  justify-content: space-between;
}

.deleted-content {
  font-size: 0.8em;
  padding-left: 0.25em;
  padding-top: 0.25em;
}

.creator-username,
.sender-username {
  font-weight: 600;
}

.read {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

#sessions {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  background-color: var(--bg);
  height: 100%;
  overflow-x: hidden;
}

.session-item {
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.session-item > span {
  flex: 1;
}

.session-item > .delete-session {
  width: 4em;
}

.session-item > .user-agent > svg {
  width: 2em;
}

/* Moderation */
.history-summary {
  cursor: pointer;
}

.delete-session.disabled {
  background-color: var(--bg-dark);
}
