#global {
  display: flex;
  flex-direction: row;
}

#profile-picture,
#user-settings {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#preview {
  width: 10em;
  border: 1px solid black;
}

#pfp {
  display: none;
}

.setting-item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setting-input {
  display: flex;
  flex-direction: column;
}

.setting-input-buttons {
  opacity: 0;
}

.button {
  padding: 0.2em;
}
