#global {
  display: flex;
  background-color: var(--bg);
  padding: 1em;
  margin: 0 1em;
}

@media screen and (max-width: 720px) {
  #global {
    flex-direction: column;
  }
}

#profile-picture,
#user-settings {
  display: flex;
  flex-direction: column;
}

#user-settings {
  border-left: 1px solid var(--border);
  flex: 1;
  padding-left: 1em;
  max-width: 650px;
}

#profile-picture {
  padding-right: 1em;
  width: min-content; /* Looks better on mobile*/
}

#preview {
  width: 10em;
  border: 1px solid black;
  border-radius: 1em;
  margin-bottom: 1em;
}

#pfp-input {
  display: none;
}

.setting-item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setting-item > * {
  flex: 1;
}

.setting-input {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

/* .button is profile image file select button */
input,
.button {
  margin-bottom: 0.25em;
}
