#global {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  padding: 1em;
  margin: 0 1em;
}

#profile-picture,
#user-settings {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#user-settings {
  border-left: 1px solid var(--border);
  flex: 1;
  padding-left: 1em;
  max-width: 650px;
}

#profile-picture {
  padding-right: 1em;
}

#preview {
  width: 10em;
  border: 1px solid black;
}

#pfp {
  display: none;
}

.setting-item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setting-item > * {
  flex: 1;
}

.setting-input {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.setting-input-buttons {
  opacity: 0;
}

.button {
  padding: 0.2em;
}

/* TODO make disabled class for buttons instead of relying on opacity*/
/* TODO clean up JS */
